* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
}

@mixin flex ($align-item: center, $justify-content: center) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.app {
  position: relative;
  max-width: 375px;
  margin: auto;
  padding-bottom: 32px;
  h1 {
    font-size: 5.4rem;
    font-weight: bold;
    margin-top: 24px;
    text-align: center;
  }
}

.money {
  text-align: center;
  margin-top: 24px;
  font-size: 2.4rem;
  select {
    border: 2px solid black;
    border-radius: 7px;
  }
}

.rank-title.disabled,
.hand-title.disabled {
  display: none;
}

.content {
  margin-top: 24px;
  table {
    width: 100%;
    font-size: 2.4rem;
  }
  tr {
    text-align: center;
  }
  th, td {
    padding-bottom: 20px;
  }
  th:first-child {
    display: flex;
  }
  .edit-name {
    padding: 8px;
    @include flex;
    font-size: 1.8rem;
  }
}

.player {
  position: relative;
  margin: 0 auto;
  background-color: #C4C4C4;
  color: #000;
  font-weight: bold;
  border-radius: 20px;
  @include flex;
  @include size(140px, 60px);
  &-name {
    width: 120px;
    // height: 60px;
    background-color: transparent;
    border: none;
    text-align: center;
  }
  &-name:focus {
    outline: none;
  }
  &-name-btn {
    display: none;
    position: absolute;
    right: -10%;
    // padding: 8px;
    padding-bottom: 2px;
    @include size(24px, 24px);
    font-size: 1.4rem;
    background-color: #29A750;
    color: #fff;
    border-radius: 50%;
  }
  &-name-btn.active {
    @include flex;
  }
  &-option-list {
    display: none;
    position: absolute;
    right: -60%;
    top: -40%;
    flex-direction: column;
    background: #c4c4c4;
    border-radius: 20px;
  }
  &-option-item {
    margin: 6px 6px 0;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
  }

  &-option-item:last-child {
    margin-bottom: 6px;
  }
  &-option-list.active {
    display: flex;
    z-index: 1;
  }
  &-option-box {
    display: none;
    position: absolute;
    top: -30%;
    right: -5%;
    span {
      background-color: #000;
      color: #fff;
      border-radius: 20px;
      font-size: 1.4rem;
      padding: 4px 8px;
    }
  }
  &-option-box.active {
    display: block;
  }
}

.rank {
  position: relative;
  margin-left: 8px;
  &-text {
    @include size(40px, 40px);
    background-color: #C4C4C4;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    @include flex;
  }
  &-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  &-list.active {
    display: flex;
  }
  &-item {
    background-color: #C4C4C4;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    @include size(40px, 40px);
    @include flex;
    margin-right: 4px;
  }
}

.rank.disabled {
  display: none;
}

.hand {
  &-input {
    width: 62px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.hand.disabled {
  display: none;
}

.result {
  font-weight: bold;
  width: 100px;
}

.feature {
  @include flex(center, space-around);
}

.new-btn {
  width: fit-content;
  margin: 16px 0;
  padding: 8px 16px;
  font-size: 2rem;
  font-weight: bold;
  height: 48px;
  background-color: #c4c4c4;
  color: #000;
  border-radius: 20px;
}

.result-table {
  margin-top: 40px;
  min-height: 90vh;
  h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  table {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 24px;
  }
  .table-player-name {
    width: 76px;
  }
  table, th {
    border: 2px solid black;
  }
  td {
    border: 1px solid black;
  }
  tr:first-child{
    border: 2px solid black;
    background: #c4c4c4;
    font-weight: bold;
  }
}
.table-empty {
  display: block;
  font-size: 1.8rem;
  text-align: center;
}

.table-empty.disabled {
  display: none;
}

.scroll-top-btn {
  position: fixed;
  @include size(40px, 40px);
  right: 16px;
  bottom: 16px;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 2.4rem;
  color: #000;
  opacity: 0;
  @include flex();
}